---
---

@import "{{ site.theme }}";

// Everything below this line will override the default template styles

.wrapper { width: 1060px; margin: 0 auto; }

section { width: 700px; float: right; padding-bottom: 50px; }

@media print, screen and (max-width: 1160px) { div.wrapper { width: auto; margin: 0; }
  header, section, footer { float: none; position: static; width: auto; }
  header { padding-right: 320px; }
  section { border: 1px solid #e5e5e5; border-width: 1px 0; padding: 20px 0; margin: 0 0 20px; }
  header a small { display: inline; }
  header ul { position: absolute; right: 50px; top: 52px; } }

a:hover, a:focus { color: #069; font-weight: normal; text-decoration: underline; }

table.image td {
  text-align: center;
}

body {
  color: #323232;
}

a.prev {
  float: left;
}

a.prev:before {
  content: "< "
}

a.next {
  float: right;
}

a.next:after {
  content: " >"
}